
/* Existe duas formas que funciona para deixar a imagem ao centro, esta é uma das opções*/
 

.image {
    display: flex;
    align-items: center;
    justify-content: center;
} 
/* .hero img{
    display: flex;
    margin: 0 auto;
} */

.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

h1 {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;

}

